.contact-header {
    width: 900px;
    display: block;
    margin-left: 150px;
    margin-top: 50px;
    /* border: 1px solid; */
}

.heading {
    font-size: 18px;
}

.heading h1 {
    margin-bottom: 5px;
}

.content1 {
    font-size: 15px;
    font-weight: 500;
    color: rgb(78, 75, 75);
    min-width: 100px;
}

@media (max-width: 1000px) {
    .heading {
        font-size: 20px;
    }

    .content1 {
        font-size: 18px;
    }
}

@media (max-width: 695px) {
    .heading {
        font-size: 22px;
    }

    .content1 {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .heading {
        font-size: 25px;
    }

    .content1 {
        font-size: 22px;
    }
}

@media (max-width: 550px) {
    .heading {
        font-size: 30px;
    }

    .content1 {
        font-size: 28px;
    }
}